<div class="display">
<div class="control">
        <div class="add">
            <i class="fa fa-solid fa-plus" (click)="openAdd()"></i>
        </div>
</div>
    <div class="table-container">
        <table class="table table-hover table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col"> Id</th>
                    <th scope="col"> Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let product of products">
                    <th scope="row">{{product.id}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <i class="fa fa-solid fa-trash" (click)="openDelete(product.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="no-items" *ngIf="products.length === 0">
            <h6>No Products Found</h6>
            <div class="info">
                <span>Click</span><span style="padding: .1rem; background: grey; border-radius: 50%; width: 10px; height: 10px; margin: 0 .5rem;"><i style="color: whitesmoke;" class="fa fa-solid fa-plus"></i></span><span>to Add new Products</span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showAdd">
    <app-add-products (newData)="addNewProduct($event)" (cancelStatus)="cancelDelete()"></app-add-products>
</div>
<div *ngIf="showDelete">
    <app-delete-products (delete)="deleteProduct()" (cancel)="setStatus()"></app-delete-products>
</div>