<div class="services">
    <div class="card">
        <img src="https://img.freepik.com/premium-vector/food-delivery-abstract-concept-vector-illustration_107173-24240.jpg?w=826"
            class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>

    <div class="card">
        <img src="https://img.freepik.com/premium-vector/vr-education-isolated-cartoon-vector-illustrations_107173-21460.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>


    <div class="card">
        <img src="https://img.freepik.com/free-vector/flat-customer-support-illustration_23-2148899114.jpg?w=826&t=st=1686916875~exp=1686917475~hmac=9325c80a7fcda66704cac04a3eab12e227c22493be8ddecac0c7cd91c46a381c"
            class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>


    <div class="card">
        <img src="https://img.freepik.com/premium-vector/food-delivery-abstract-illustration_335657-5022.jpg?w=826"
            class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>


    <div class="card">
        <img src="https://img.freepik.com/premium-vector/banner-design-cleaning-man-is-wearing-surgical-mask-holding-litter-bag_262129-730.jpg"
            alt="...">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>
</div>