html {
  scroll-behavior: smooth;
}

body {
  color: #2e424d;
  background: #eaebed !important;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.favicon {
  height: 20px;
  width: 20px;
}

.navbar {
  padding: 0.5rem 1rem;
  margin: 0;
  filter: drop-shadow(1px 1px 3px rgb(180, 180, 180));
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 40px;
  background: #5b8291;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-logo {
  filter: drop-shadow(3px 3px 2px);
  padding: 0 1rem;
  font-size: 24px;
  font-weight: bold;
}
.navbar .nav-logo .the {
  color: black;
}
.navbar .nav-logo .royal {
  color: #98dad9;
}
.navbar .nav-logo .route {
  color: #eaebed;
}
.navbar .nav {
  display: none;
}
.navbar .open2 {
  display: block;
  background: rgb(210, 239, 248);
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 50%;
  right: 0;
  top: 0;
  padding: 1rem;
  filter: drop-shadow(-200px 0px 200px black);
}
.navbar .open2 .menu-exit-btn-img {
  height: 30px;
  width: 20px;
}
.navbar .open2 .nav-links {
  display: block;
  list-style: none;
}
.navbar .open2 .nav-links a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: bold;
}
.navbar .open2 .nav-links .nav-item {
  padding-top: 1rem;
}
.navbar .menu-btn {
  padding-right: 1rem;
}
.navbar .menu-btn .menu-btn-img {
  cursor: pointer;
  margin-right: 0.5rem;
  height: 35px;
}

.main .container {
  padding-top: 5rem;
}

@media screen and (min-width: 950px) {
  .navbar {
    padding: 0.5rem 0;
  }
  .navbar .nav {
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 0;
  }
  .navbar .nav .menu-exit-btn-img {
    display: none;
  }
  .navbar .nav ul {
    list-style-type: none;
  }
  .navbar .nav a {
    color: black;
    text-decoration: none;
  }
  .navbar .nav .nav-links .nav-item {
    filter: drop-shadow(3px 3px 4px #98dad9);
    padding: 0.5rem;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
  }
  .navbar .menu-btn-img {
    display: none;
  }
  .navbar .nav-contact-btn .contact-btn {
    border-radius: 5px;
    filter: drop-shadow(3px 3px 4px #98dad9);
  }
}
.main {
  text-align: center;
}
.main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .container .main-img-container {
  width: 75vw;
  padding: 1rem 1rem;
}
.main .container .main-img-container .main-img {
  height: 100%;
  width: 100%;
}
.main .container .line {
  filter: drop-shadow(5px 8px 3px rgb(180, 180, 180));
  margin: 1rem 0;
  height: 2px;
  width: 50vw;
  background: #E3D2BF;
}
.main .container .main-text {
  padding: 0.5rem 2rem;
}
.main .container .main-text .title {
  color: #2e424d;
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
}
.main .container .main-text p {
  text-align: justify;
  font-size: 18px;
}
.main .dots .dot {
  filter: drop-shadow(3px 5px 3px rgb(180, 180, 180));
  height: 7px;
  width: 7px;
  background-color: #E3D2BF;
  border-radius: 50%;
  display: inline-block;
}

.card-list {
  padding-bottom: 4rem;
  text-align: center;
  margin: 0;
}
.card-list h2 {
  color: #2e424d;
  font-size: 30px;
}

.cards {
  margin: 2rem 13rem;
}
.cards .container {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cards .container .card {
  width: 40vw;
  margin: 1rem 1rem;
  background-color: whitesmoke;
  border-radius: 2%;
  filter: drop-shadow(3px 5px 3px rgb(180, 180, 180));
}
.cards .container .card a {
  text-align: center;
  text-decoration: none;
}
.cards .container .card a img {
  width: 100%;
}
.cards .container .card .pakage {
  font-weight: 400;
  color: rgb(128, 128, 128);
}
.cards .container .card p {
  color: #2e424d;
  font-weight: bold;
  margin: 0.8rem;
  line-height: 0.5rem;
}

footer {
  bottom: 0;
  width: 100%;
  height: 50px;
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(31, 28, 28);
  color: white;
  height: 100%;
}

@media screen and (min-width: 950px) {
  .navbar .nav-logo-img {
    height: 50px;
  }
  .main {
    padding: 1rem 5rem;
  }
  .main .container {
    display: flex;
    flex-direction: row;
  }
  .main .container .main-img-container {
    width: 200vw;
    padding: 1rem 1rem;
  }
  .main .container .main-img-container .main-img {
    height: 100%;
    width: 100%;
  }
  .main .container .main-text {
    padding: 1rem 0.2rem;
  }
  .main .container .main-text .title {
    margin: 0;
    font-size: 40px;
    text-transform: uppercase;
  }
  .main .container .main-text p {
    text-align: justify;
    font-size: 20px;
  }
  .main .line {
    display: none;
  }
  .main .dots {
    display: none;
  }
  .cards {
    margin: 2rem 13rem;
  }
  .cards .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cards .container .card {
    width: 25vw;
    margin: 1rem 1rem;
    background-color: #e7e7e7;
    border-radius: 2%;
    box-shadow: 2px 2px rgb(180, 180, 180);
  }
  .cards .container .card a {
    text-align: center;
    text-decoration: none;
  }
  .cards .container .card a img {
    width: 100%;
    box-shadow: 2px 2px rgb(180, 180, 180);
  }
  .cards .container .card p {
    color: black;
    font-weight: bold;
    margin: 0.8rem;
    line-height: 0.5rem;
  }
}
@media screen and (min-width: 1200px) {
  body {
    background: url("/PWS/web/sass-website/images/Desktop.svg") center/cover no-repeat;
  }
  .navbar .nav-logo-img {
    height: 60px;
  }
  .main {
    padding-right: 10rem;
    padding-left: 3rem;
  }
  .main .container {
    display: flex;
    flex-direction: row;
  }
  .main .container .main-img-container {
    width: 200vw;
    padding-top: 1rem;
    padding-left: 8rem;
    padding-right: 3rem;
  }
  .main .container .main-img-container .main-img {
    height: 100%;
    width: 100%;
  }
  .main .container .main-text {
    padding: 1rem 0.2rem;
  }
  .main .container .main-text .title {
    margin: 0;
    font-size: 40px;
    text-transform: uppercase;
  }
  .main .container .main-text p {
    text-align: justify;
    font-size: 24px;
  }
  .cards {
    margin: 2rem 13rem;
  }
  .cards .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .cards .container .card {
    width: 10vw;
    margin: 1rem 1rem;
    background-color: #e7e7e7;
    border-radius: 2%;
    box-shadow: 2px 2px rgb(180, 180, 180);
  }
  .cards .container .card a {
    text-align: center;
    text-decoration: none;
  }
  .cards .container .card a img {
    width: 100%;
    box-shadow: 2px 2px rgb(180, 180, 180);
  }
  .cards .container .card p {
    color: black;
    font-weight: bold;
    margin: 0.8rem;
    line-height: 0.5rem;
  }
}/*# sourceMappingURL=main.css.map */