// * {
//     border: 1px solid red;
// }

.navbar {
    height: 7vh;

    h2 {
        font-size: 24px;
    }
}

.nav-items {
    ul {
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;

        li {
            font-weight: 500;
            cursor: pointer;
            margin: .5rem;
            list-style: none;
        }
    }
}

.main-contents {
    height: calc(100vh - 7vh);
    margin: 0;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 26px;
        }

        p {
            color: rgb(58, 58, 58);
        }
    }

    .sidebar {
        flex: 1;
        display: flex;
        max-width: 30vw;
        justify-content: center;

        app-sidebar {
            width: 100%;
        }
    }

    .list-products {
        flex: 3;
        display: flex;
        justify-content: center;

        app-list-products {
            width: 100%;
        }
    }

    .services {
        flex: 3;
        margin: 0 2rem;
    }
}

// @media screen and (max-width:550px) {
//     .main-contents {
//         display: flex;
//         flex-direction: column;
//         background-color: aqua;

//         .sidebar {
//             display: flex;
//             max-width: 400px;
//             height: 200px;
//             justify-content: center;

//             app-sidebar {
//                 width: 100%;
//                 height: 100%;
//             }
//         }

//         .list-products {
//             display: flex;
//             justify-content: center;

//             app-list-products {
//                 width: 100%;
//             }
//         }

//         .services {
//             margin: 0 2rem;
//         }
//     }
// }