@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100&family=Paytone+One&family=Poppins:ital,wght@0,500;0,600;1,400;1,500&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: black;
  color: rgb(168, 168, 168);
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(0, 203, 253);
}

li {
  cursor: pointer;
}

.navbar .exit {
  display: none;
}
.navbar img,
.navbar span {
  width: 35px;
}
.navbar .container-fluid {
  padding: 0;
}
.navbar .container-fluid .navbar-brand {
  margin: 0;
}
.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  color: rgb(255, 255, 255);
}
.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
  color: rgb(0, 203, 253);
}

.btns {
  margin: 2% 3rem;
  padding: 1rem 0.5rem;
  color: white;
  border: 0.1px solid white;
  border-radius: 50px;
  width: 250px;
  font-size: 14px;
  letter-spacing: 0.1rem;
}
.btns:hover {
  color: rgb(0, 203, 253);
  border: 0.1px solid rgb(0, 203, 253);
}

.line {
  background: rgb(168, 168, 168);
  filter: drop-shadow(1px 1px 3px);
  width: 50%;
  height: 2px;
  margin: 3rem auto;
}

.hero-0 {
  text-align: center;
}
.hero-0 .hero-1 {
  padding-top: 5rem;
  position: relative;
  width: 100%;
  text-align: center;
}
.hero-0 .hero-1 .hero-img {
  margin-top: 30%;
}
.hero-0 .hero-1 .hero-img img {
  width: 100%;
}
.hero-0 .hero-1 .hero-img .hero-title {
  padding-top: 0;
  line-height: 0;
  top: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-0 .hero-1 .hero-img .hero-title h3 {
  font-size: 20px;
  margin: 0;
}
.hero-0 .hero-1 .hero-img .hero-title h1 {
  line-height: 0.8;
  margin: 0;
  font-size: 80px;
  font-family: "Kumbh Sans", sans-serif;
  color: rgb(0, 203, 253);
}
.hero-0 .hero-1 .hero-img .hero-title img {
  width: 60px;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 100%;
}

h1 {
  color: white;
}

h2 {
  color: white;
  font-size: 32px;
}

p {
  font-size: 16px;
}

.video {
  margin-top: 1.5rem;
  margin-bottom: 0;
  margin-inline: 0;
  text-align: center;
}
.video video {
  margin: 0;
  width: 100%;
}
.video p {
  margin: 1.5rem 0;
}

.carousel-text {
  text-align: center;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
}
.carousel-text p {
  margin: 0;
}
.carousel-text h1 {
  padding-top: 1.5rem;
}

.fea {
  text-align: start;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.fea article {
  padding: 0 2rem;
  margin: auto 0;
}
.fea article h2 {
  font-size: 32px;
}
.fea img {
  width: 614px;
  height: 345px;
}

.full-img {
  width: 100%;
  height: 90%;
}

.last-fea article {
  padding: 0 3rem;
}

.my-btn {
  text-align: center;
  width: 98%;
  display: flex;
  justify-content: center;
}
.my-btn .row {
  padding: 0;
  width: 100%;
}

.foot-img {
  margin-top: 1.5rem;
  background: url(../images/backgroud1.webp) center/cover no-repeat;
  width: 100%;
  height: 50vh;
}
.foot-img .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  padding-top: 1%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.foot-img img {
  width: 60px;
}

.foot-text {
  background: rgb(27, 27, 27);
  padding: 1.5rem 1.5rem;
}
.foot-text .container {
  display: flex;
  flex-direction: column;
}
.foot-text p {
  font-size: 16px;
}

footer {
  background: rgb(27, 27, 27);
}
footer .list {
  padding: 1.5rem 1rem;
}
footer p,
footer ul {
  padding: 0rem;
  list-style-type: none;
  color: white;
  margin: 0;
}
footer p li,
footer ul li {
  padding: 0.5rem;
}
footer p a,
footer ul a {
  color: white;
}

.social {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.social .container {
  text-align: center;
  margin-bottom: 1rem;
}
.social .container a {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .hero-0 .hero-1 {
    padding-top: 0;
  }
  .hero-0 .hero-1 .hero-img .hero-title h3 {
    font-size: 40px;
  }
  .hero-0 .hero-1 .hero-img .hero-title h1 {
    font-size: 130px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-0 .hero-1 {
    padding-top: 0;
  }
  .hero-0 .hero-1 .hero-img {
    margin-top: 20%;
  }
  .hero-0 .hero-1 .hero-img .hero-title h3 {
    font-size: 40px;
  }
  .hero-0 .hero-1 .hero-img .hero-title h1 {
    font-size: 130px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-0 .hero-1 .hero-img {
    margin-top: 12%;
  }
  .hero-0 .hero-1 .hero-img .hero-title h3 {
    font-size: 40px;
  }
  .hero-0 .hero-1 .hero-img .hero-title h1 {
    font-size: 130px;
  }
  .carousel-text {
    text-align: center;
    margin: 1.5rem 0;
    padding: 0 10rem;
  }
}
@media screen and (max-width: 1024px) {
  .fea {
    flex-direction: column;
  }
  .fea article {
    order: 1;
  }
  .fea img {
    order: 2;
    width: 100%;
    height: 50%;
  }
}
.contact .contact-hero {
  background: url(../images/contact-hero.webp) right/cover no-repeat;
  height: 100vh;
}
.contact .contact-hero .text {
  color: white;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1200px) {
  .contact .contact-hero {
    background: url(../images/contact-hero2.webp) center/cover no-repeat;
  }
  .contact .contact-hero .text {
    font-size: 5rem;
  }
}
.contact .contact-hero .fa {
  color: white;
  position: absolute;
  bottom: 5%;
  left: 50%;
}
.contact .c-section1 {
  background: #1e002a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact .c-section1 .container {
  margin: 4rem 0;
}
.contact .c-section1 .container h2 {
  color: white;
}
.contact .c-section1 .container a {
  margin: 2rem 0;
}
.contact .c-section1 .line {
  height: 0.5px;
  width: 100%;
  opacity: 0.5;
  margin: 0;
}
.contact .c-section1 .form .my-input:focus {
  outline: none;
}
.contact .c-section1 .form .my-input,
.contact .c-section1 .form textarea {
  margin-top: 2rem;
  width: 70%;
  color: white;
  background: #1c0425;
  border: none;
  border-bottom: 2px solid grey;
}
.contact .c-section1 .form ul {
  padding: 0 5rem;
}
.contact .c-section1 .form li {
  text-align: start;
  list-style-type: disc;
}
.contact .c-section1 .form .row .col p {
  padding: 0 4rem;
  text-align: start;
}
.contact .c-section1 .form .form-check-label {
  padding: 0 2.5rem;
  text-align: start;
}/*# sourceMappingURL=main.css.map */