@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100&family=Paytone+One&family=Poppins:ital,wght@0,500;0,600;1,400;1,500&display=swap');
// *{
//     border: 1px solid red;
// }
// font-family: 'Kumbh Sans', sans-serif;
// font-family: 'Paytone One', sans-serif;
// font-family: 'Poppins', sans-serif;
html {
    scroll-behavior: smooth;
}

$primaryColor: black;
$secondaryColor: white;
$text: rgb(168, 168, 168);
$hoverColor: rgb(0, 203, 253);


body {
    font-family: 'Poppins', sans-serif;
    background: $primaryColor;
    color: $text;
    height: 100%;
    width: 100%;

}


a {
    text-decoration: none;
    color: $secondaryColor;

    &:hover {
        color: $hoverColor;
    }
}

li {
    cursor: pointer;
}

.navbar {

    .exit {
        display: none;
    }

    img,
    span {
        width: 30px;

        @media screen and (min-width:450px) {
            width: 30px;
        }

        @media screen and (min-width:450px) {
            width: 40px;
        }
    }

    .container-fluid {
        padding: 0;

        .navbar-brand {
            margin: 0;
        }

        .collapse {

            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: rgb(255, 255, 255);

                        &:hover {
                            color: $hoverColor;
                        }
                    }

                }
            }
        }
    }
}







.btns {
    margin: 2% 3rem;
    padding: 1rem .5rem;
    color: $secondaryColor;
    border: .1px solid $secondaryColor;
    border-radius: 50px;
    width: 250px;
    font-size: 14px;
    letter-spacing: .1rem;

    &:hover {
        color: $hoverColor;
        border: .1px solid $hoverColor;

    }
}

.line {
    background: $text;
    filter: drop-shadow(1px 1px 3px);
    width: 85%;
    height: 2px;

    margin: 1.5rem auto;
}

.hero-0 {
    text-align: center;

    .hero-1 {
        padding-top: 5rem;
        position: relative;
        width: 100%;
        text-align: center;

        .hero-img {
            margin-top: 30%;

            img {
                width: 100%;
            }

            .hero-title {
                padding-top: 0;
                line-height: 0;
                top: 0;
                position: absolute;
                top: 10%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $secondaryColor;

                h3 {
                    font-size: 20px;
                    margin: 0;
                }

                h1 {
                    line-height: .8;
                    margin: 0;
                    font-size: 80px;
                    font-family: 'Kumbh Sans', sans-serif;
                    color: $hoverColor;
                }

                img {
                    width: 60px;
                }
            }

            @media screen and (min-width:500px) {
                .hero-title {
                    top: 20%;

                    h3 {
                        font-size: 25px;
                    }

                    h1 {
                        font-size: 90px;
                    }
                }
            }
        }

        @media screen and (min-width:650px) {
            .hero-img {
                margin-top: 20%;

                .hero-title {
                    top: 17%;
                }
            }
        }

        @media screen and (min-width:750px) {
            .hero-img {
                margin-top: 10%;

                .hero-title {
                    top: 15%;
                }
            }
        }

        @media screen and (min-width:900px) {
            .hero-img {
                margin-top: 1%;

                .hero-title {
                    top: 7%;
                }
            }
        }

        @media screen and (min-width:1050px) {
            .hero-img {
                margin-top: 5%;

                .hero-title {
                    top: 10%;

                    h3 {
                        font-size: 35px;
                    }

                    h1 {
                        font-size: 110px;
                    }
                }

                .hero-text {
                    width: 90%;
                    position: absolute;
                    top: 120%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    margin-bottom: 2rem;
                }
            }
        }

        @media screen and (min-width:1250px) {
            .hero-img {
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                margin-top: 6%;

                .hero-title {
                    top: 13%;

                    h3 {
                        font-size: 35px;
                    }

                    h1 {
                        font-size: 150px;
                    }
                }

                .hero-text {
                    p {
                        font-size: 20px;
                        padding: 0 5rem;
                    }
                }
            }

        }
    }
}

.my-carousel {}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 100%;
}

h1 {
    color: rgb(255, 255, 255);
}

.fea {

    .fea-text {
        padding-top: 1.5rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @media screen and (max-width:1000px) {
        display: flex;
        flex-direction: column;

        .fea-text {
            order: 1;
        }

        img {
            margin:1.5rem 0;
            order: 2;
        }
    }

}



.fea-last {
    .fea-text {
        text-align: left;
        padding: 0 1.5rem;

    }
}

.video {
    margin-top: 1.5rem;
    margin-bottom: 0;
    margin-inline:0;
    text-align: center;

    video {
        margin: 0;
        width: 100%;
    }

    p {
        margin:1.5rem 0;
    }

    @media screen and (min-width:1000px) {
        p {
            font-size: 20px;
        }
    }
}

@media screen and (min-width:1050px) {

    .video {
        margin-top: 15rem;
        padding-top: 5%;

        video {
            width: 100%;
        }
    }
}

.carousel-text {
    text-align: center;
    margin: 1.5rem 0;
    padding: 0 1.5rem;

    p {
        margin: 0;
    }

    h1 {
        padding-top: 1.5rem;
    }
}

@media screen and (min-width:1250px) {
    .carousel {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .carousel-text {
        padding: 0 20%;
    }

}

.fea {
    text-align: center;
    padding: 0 1.5rem;

}





.my-btn {
    text-align: center;
    width: 98%;
    display: flex;
    justify-content: center;

    .row {
        padding: 0;
        width: 100%;
    }

}


.foot-img {
    margin-top: 1.5rem;
    background: url(../images/backgroud1.webp) center/cover no-repeat;
    width: 100%;
    height: 50vh;

    .overlay {
        background-color: rgb(0, 0, 0, .4);
        height: 100%;
        padding-top: 1%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
    }

    @media screen and (min-width:710px) {
        .overlay {
            padding-top: 10%;
        }
    }

    img {
        width: 60px;
    }
}

.fea-last {
    text-align: center;
    padding: 1rem 1.5rem;

    .fea-text {
        padding: 0 0;
    }
}

.foot-text {
    .container {
        display: flex;
        flex-direction: column;
    }

    background: rgb(27, 27, 27);
    padding: 1.5rem 1.5rem;
    

    p {
        font-size: 16px;
    }
}

footer {
    background: rgb(27, 27, 27);

    .list {
        padding: 2rem 1rem;
    }


    p,
    ul {
        padding: 0rem;
        list-style-type: none;
        color: $secondaryColor;
        margin: 0;

        li {
            padding: .5rem;
        }

        a {
            color: $secondaryColor;
        }
    }
}


@media screen and (min-width:1000px) {
    .fea {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .fea-text {
            margin-top: auto;
            margin-bottom: auto;
            width: 100%;
            padding: 3rem;

        }

        img {
            width: 50%;
        }
    }

    .fea-last {
        text-align: center;
        padding: 1rem 3rem;
    }



    .foot-img {
        background: url(../images/backgroud1.webp) center/cover no-repeat;


        .overlay {
            padding-top: 0;
           
            h5 {
                font-size: 20px;
            }

            h2 {
                font-size: 35px;
            }

            h5,
            h2 {
                color: $secondaryColor;
            }

            .link {
                font-size: 20px;
                color: $secondaryColor;
                font-weight: bold;

                &:hover {
                    color: $hoverColor;
                }
            }
        }

        img {
            width: 60px;
        }
    }



    .foot-text {

        .container {
            flex-direction: row;
        }

        padding: 2% 10%;
        display: flex;

        p {
            padding: 1rem 2rem;
            font-size: 16px;
        }

        .text2 {
            margin: 0;
        }
    }

    footer {
        text-align: left;

        p,
        ul {
            padding: 0;
            list-style-type: none;
            color: $secondaryColor;
            margin: 0;

            li {
                padding: .5rem;
            }

            a {
                color: $secondaryColor;
            }
        }
    }
}


.social {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    .container {
        text-align: center;
        margin-bottom: 2rem;

        a {
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 0 1rem;
        }
    }
}


//contact page
.contact {
    .contact-hero {
        background: url(../images/contact-hero.webp) right/cover no-repeat;
        height: 100vh;


        .text {
            color: white;
            font-size: 2em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @media screen and (min-width:1200px) {
            background: url(../images/contact-hero2.webp) center/cover no-repeat;

            .text {
                font-size: 5rem;
            }
        }


        .fa {
            color: white;
            position: absolute;
            bottom: 0;
            left: 50%;
        }
    }

    .c-section1 {
        background: #1e002a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .container {
            margin: 4rem 0;

            h2 {
                color: white;
            }

            a {
                margin: 2rem 0;
            }
        }

        .line {
            height: .5px;
            width: 100%;
            opacity: .5;
            margin: 0;
        }

        .form {
            .my-input {
                &:focus {
                    outline: none;
                }
            }

            .my-input,
            textarea {
                margin-top: 2rem;
                width: 70%;
                color: white;
                background: #1c0425;
                border: none;
                border-bottom: 2px solid grey;
            }

            ul {
                padding: 0 5rem;
            }

            li {
                text-align: start;
                list-style-type: disc;
            }

            .row {
                .col {
                    p {
                        padding: 0 4rem;
                        text-align: start;
                    }
                }
            }

            .form-check-label {
                padding: 0 2.5rem;
                text-align: start;
            }

        }

    }
}